*.egg-info
*.iml
*.log
*.py[co]
*.so
*.sublime-*
*.sw[nop]
*~
.#*
.DS_Store
._*
.coverage
.cache
.idea
.project
.pydevproject
.ropeproject
.tox
\#*\#
/.venv.touch
/build
/dist
/virtualenv_run
/coverage-html
/venv
